@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

:root {
  --font-base: "Fredoka", sans-serif;

  --primary-color: #f1f1ff88;
  --secondary-color: #1e2674;
  --black-color: #030303;
  --lightGray-color: #ffffffc2;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
